body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nameTitle {
  color:white;
  font-size: 7vw;
  font-family: 'Fredericka the Great', cursive;
  
}
.subTitle {
  color:white;
  font-size: 4vw;
  font-family: 'Fredericka the Great', cursive;
}
 

.vertical-center {
  display: flex;
  align-items: center;
}

.aboutMeTitle{
 
  font-family: 'Inconsolata', monospace;
  color: white;
  font-size: 250%;
}
.aboutMeText{
 
  font-family: 'Inconsolata', monospace;
  font-size: 120%;
  color: white;
}
.aboutMeCard{
 
  border-radius: 25px;
 

   
}

 

.cardMenu{
  border-color: black;
}